/* ===== Templating Style ===== */
.images-setting {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-color-w1 {
    background-color: $color-1 !important;
}

.bg-color-r1 {
    background-color: $color-2 !important;
}